@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	scroll-behavior: smooth;
}

input {
	border: 2px black solid;
}

button {
	border: 2px blue solid;
}
